---
const tile = Astro.props.tile;

const onHoverColor = Astro.props.onHoverColor || "hover:bg-gray-100";
---

<div
    class:list={`tile cursor-pointer outline outline-white md:h-full max-h-8 md:max-h-full overflow-hidden md:overflow-visible w-full p-8 ${onHoverColor} order-2`}
    data-tile={tile}
>
    <slot />
</div>
<script>
    const tiles = document.querySelectorAll("div.tile");

    // Handle clicks on each button.
    tiles.forEach((tile) => {
        tile.addEventListener("click", (event) => {
            handleClick(event);
        });
    });
    const handleClick = (ev) => {
        ev.preventDefault();
        ev.stopPropagation();
        let tile = ev.target;
        while (tile && !tile.classList.contains("tile")) {
            tile = tile.parentElement;
        }
        if (!tile) {
            return;
        }

        const tileContent = tile;

        const duplicateTile = tileContent.cloneNode(true);

        const center = document.getElementById("center");
        const duplicateCenter = center.cloneNode(true);

        center.innerHTML = duplicateTile.innerHTML;
        tile.innerHTML = duplicateCenter.innerHTML;
    };
</script>
